app = 'semantic-search-service'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[deploy]
  strategy = "immediate"

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
